<app-dashboard-header></app-dashboard-header>
<!--main dashboard content-->
<section class="mani-dashboard-content padding-70px-tb mob-paddingTop-20">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-9">
        <div class="terms-policy border-normal p-4">
          <h3 class="text-light-blue mb-20 text-center">Terms & Condition</h3>
          <div class="scroll-content">
            <ng-scrollbar>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in facilisis risus. Sed eros mi, condimentum
                a sapien auctor, aliquet varius massa. Sed tristique tempus leo nec eleifend. Maecenas ut lobortis dui. Donec
                augue urna, tincidunt ac auctor et, lacinia ut nunc. Cras ullamcorper ipsum vitae dui sodales euismod. Nulla
                eleifend maximus nulla, in iaculis quam aliquet sit amet.</p>
              <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed efficitur est eros, non tristique velit malesuada
                quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                efficitur nisl vel tempor tincidunt. Sed ultricies elit non purus feugiat, nec scelerisque lacus mollis.
                Sed eu dapibus justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc et lorem eu metus
                viverra tincidunt. Proin quis ipsum molestie, dictum metus et, tempor ligula.</p>
              <p>Proin aliquet enim in finibus vehicula. Maecenas fringilla aliquam sapien, id pellentesque lacus auctor ut.
                Curabitur eu ex eu urna dictum ullamcorper. In molestie felis sit amet odio vehicula imperdiet. Suspendisse
                quis hendrerit diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Donec id lorem maximus, dapibus justo eget, bibendum nisi. Cras suscipit, sem ut viverra dictum,
                ligula risus ullamcorper neque, at sodales tellus lorem quis est. Vivamus quis nisl eu felis consectetur
                efficitur vel nec purus.</p>
              <p>Vivamus nec placerat nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Quisque gravida erat ac aliquet commodo. Donec in hendrerit mi. Maecenas elit ipsum, porta ut varius
                pulvinar, molestie ut nisl. Cras sed laoreet augue, eu tristique dolor. Vivamus at mauris pellentesque, tempor
                mauris vel, semper dui. Etiam sit amet enim magna. Aenean eu odio id sem hendrerit pharetra. Morbi lectus
                eros, rhoncus quis fringilla placerat, condimentum nec nunc. Proin placerat purus maximus odio sollicitudin,
                nec blandit velit tincidunt. Aenean varius nibh nisl, sit amet elementum nibh ultrices vel. Sed ornare rhoncus
                urna nec luctus. Duis nec bibendum velit, nec fringilla enim. Sed quis ornare orci.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in facilisis risus. Sed eros mi, condimentum
                a sapien auctor, aliquet varius massa. Sed tristique tempus leo nec eleifend. Maecenas ut lobortis dui. Donec
                augue urna, tincidunt ac auctor et, lacinia ut nunc. Cras ullamcorper ipsum vitae dui sodales euismod. Nulla
                eleifend maximus nulla, in iaculis quam aliquet sit amet.</p>
              <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed efficitur est eros, non tristique velit malesuada
                quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur
                efficitur nisl vel tempor tincidunt. Sed ultricies elit non purus feugiat, nec scelerisque lacus mollis.
                Sed eu dapibus justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc et lorem eu metus
                viverra tincidunt. Proin quis ipsum molestie, dictum metus et, tempor ligula.</p>
              <p>Proin aliquet enim in finibus vehicula. Maecenas fringilla aliquam sapien, id pellentesque lacus auctor ut.
                Curabitur eu ex eu urna dictum ullamcorper. In molestie felis sit amet odio vehicula imperdiet. Suspendisse
                quis hendrerit diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Donec id lorem maximus, dapibus justo eget, bibendum nisi. Cras suscipit, sem ut viverra dictum,
                ligula risus ullamcorper neque, at sodales tellus lorem quis est. Vivamus quis nisl eu felis consectetur
                efficitur vel nec purus.</p>
              <p>Vivamus nec placerat nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                mus. Quisque gravida erat ac aliquet commodo. Donec in hendrerit mi. Maecenas elit ipsum, porta ut varius
                pulvinar, molestie ut nisl. Cras sed laoreet augue, eu tristique dolor. Vivamus at mauris pellentesque, tempor
                mauris vel, semper dui. Etiam sit amet enim magna. Aenean eu odio id sem hendrerit pharetra. Morbi lectus
                eros, rhoncus quis fringilla placerat, condimentum nec nunc. Proin placerat purus maximus odio sollicitudin,
                nec blandit velit tincidunt. Aenean varius nibh nisl, sit amet elementum nibh ultrices vel. Sed ornare rhoncus
                urna nec luctus. Duis nec bibendum velit, nec fringilla enim. Sed quis ornare orci.</p>
            </ng-scrollbar>
          </div>
          <div class="row mt-20 mr-0 ml-0">
            <div class="col-sm-6">
              <div class="checkbox-wrapper">
                <input class="custom-checkbox" id="remember" type="checkbox">
                <label class="checkbox-label"></label>
                <label class="text-small-14 text-dark-gray margin-left-35px cursor-pointer" for="remember">I Agree</label>
              </div>
            </div>
            <div class="col-sm-6 text-right mob-text-center">
              <button class="btn btn-primary width-40 small-btn" routerLink="/dashboard">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>