<div class="notice bg-light-blue">
    <div class="container">
        <p class="mb-0 p-2">
            <b>NOTICE:</b> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
            in some form, by injected humour.</p>
    </div>
</div>
<footer>
    <div class="footer_inner bg-black-russian padding-60px-tb">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="text-white mb-10">
                        ABOUT PORTAL</h5>
                    <p class="text-white font-weight-100">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in some form, by injected humour.There are many variations of passages of Lorem Ipsum available.</p>
                    <ul class="social_icon default-reset normal-list">
                        <li>
                            <a href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h5 class="text-white mb-10">SITE LINKS</h5>
                    <ul class="footer_menu default-reset normal-list">
                        <li>
                            <a href="">Premium banking</a>
                        </li>
                        <li>
                            <a href="">Corporate banking</a>
                        </li>
                        <li>
                            <a href="">Investment Services</a>
                        </li>
                        <li>
                            <a href="">Cryptocurrency Investmnet </a>
                        </li>
                        <li>
                            <a href="">Help/Support </a>
                        </li>
                        <li>
                            <a href="">FAq</a>
                        </li>
                        <li>
                            <a href="">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="">Customer Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="text-white mb-10">REACH US</h5>
                    <p class="text-white font-weight-100">Bedriftsveien 92</p>
                    <p class="text-white font-weight-100">3737 Skien, Norway</p>
                    <p class="">
                        <a href="">support@afrikash.net</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        <p class="text-white mb-0 bg-black p-2">Copyright 2018 © Afrikash. All Rights Reserved.</p>
    </div>
</footer>