<div class="closedOverlay"></div>
<div class="sidebar_menu border-normal">
    <section class="user-info-header padding-40px-tb box-shadow mob-box-shadow bank-user-dashboard cover-background tab-hide">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-12 row m-0">
                    <div class="avtar-content">
                        <h3 class="text-light-blue mb-lg-1">Welcome {{uname}}</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-text-left">
                    <div class="mobile-view account-del">
                        <!-- <p class="mb-1">Account Number : 100000{{userDetails?.fk_user_id}}</p>
                        <p class="mb-0">Account Type : Saving Account</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <ul class="default-reset normal-list list-20 p-4 mobile-SidePanel">
    
        <li>
            <a routerLink="../customers" routerLinkActive="active-link">Client</a>
        </li>
         <li>
            <a routerLink="../calculator" routerLinkActive="active-link">Order</a>
        </li>
        <li>
            <a routerLink="../stock" routerLinkActive="active-link">Add wood type</a>
        </li>
         <li>
            <a routerLink="../stock-summary" routerLinkActive="active-link">Stock-Summary</a>
        </li>
           <li>
            <a routerLink="../bills" routerLinkActive="active-link">Bills</a>
        </li>
        <li>
            <a class="cursor-pointer" (click)=GotoLogin()>Sign out</a>
        </li>
    </ul>
</div>