<app-dashboard-header></app-dashboard-header>
<!--main dashboard content-->
<section class="mani-dashboard-content padding-70px-tb mob-paddingTop-20">
   <div class="container">
   <div class="row padding-three-bottom">
      <div class="col-sm-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-12 col-md-9 col-lg-9">
         <div class="dasboard-main-content-wrapper border-normal p-4 mb-padding-10">
            <div class="col-sm-8">
               <h4 class="text-light-blue mb-20">Result </h4>
               <div class="row">
                  <div class="col-4">
                     <span class="">Total CC</span>
                  </div>
                  <div class="col-8">
                     <span class=""> {{totalcc}}</span>
                  </div>
               </div>
               <table class="table theme-table sort-table mt-20">
                  <thead class="bg-blue">
                     <tr>
                        <th>ID</th>
                        <th>Thickness</th>
                        <th>Length</th>
                        <th>Width</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody >
                     <tr *ngIf="dataArray.length == 0">
                        No Records Found
                     </tr>
                       <tr *ngFor="let data of dataArray">
                            <td>{{data.id}}</td>
                            <td>{{data.thicknessName}}</td>
                            <td>{{data.lengthName}}</td>
                            <td>{{data.widthName}}</td>
                            <td><input type="text" id="{{data.id}}" class="quick-form"  [value] ="data.quantity" > </td>
                            <td><input type="text" id="{{data.id}}" class="quick-form"  [value] ="data.price" > </td>
                            <td>{{data.price}}</td>   
                       </tr>
          
                     
                     <!-- <tr *ngFor="dataArray.length != 0">
                        </tr> -->
                  </tbody>
               </table>

               <!-- Editable table -->

<!-- Editable table -->
            </div>
         </div>
      </div>
   </div>
   </div>
</section>