<div>  
<table cellpadding="3" cellspacing="0" border="0">

        <colgroup width="151"></colgroup>
        <colgroup width="107"></colgroup>
        <colgroup width="80"></colgroup>
        <colgroup width="285"></colgroup>
        <colgroup width="107"></colgroup>
        <colgroup width="39"></colgroup>
        <colgroup width="60"></colgroup>
        <colgroup width="39"></colgroup>
        <colgroup width="60"></colgroup>
        <colgroup width="97"></colgroup>
        <tbody><tr>
            <td style="border-bottom: 1px solid #000000" colspan="10" rowspan="2" height="40" align="center" valign="middle" sdnum="1033;0;@"><b><u>
                        <font face="Arial" color="#000000">Tax Invoice</font>
                    </u></b></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td style=" border-left: 1px solid #000000;" colspan="1" align="right" valign="center" sdnum="1033;0;@"><b>
                    <img  width ="100%" src="assets/img/logo.png" style="                   
                    display: -webkit-inline;
                    padding:7;
                    position:relative;
                    left:25px
                    ">
                </b></td>
         <td style=" border-right: 1px solid #000000" colspan="9" height="16" align="center" valign="center" sdnum="1033;0;@">       
        <tr>
            <td colspan="12" height="16" align="center" valign="top" sdnum="1033;0;@"><b>
                    <p style="line-height: 1;"><font style="letter-spacing: 3px;" face="Times New Roman" size="8" color="#000000">GRP INDUSTRIES</font>
                    <br>
                    <font style="letter-spacing: 6px;" face="Times New Roman" color="#000000">Premium quality timbers</font>
                    </p>

                </b></td>
        </tr>
    
        <tr>
            <td  colspan="12" height="20" align="center" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">C-167, RIICO EXTN. Industrial Area, Ajmer Road, Bagru, Jaipur - 30300 || State Name: RAJASTHAN, Code: 08  </font>
            </td>
        </tr>
   
        <tr>
            <td  colspan="12" height="20" align="center" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">GSTIN/UIN: <b>08BBLPR5823F1ZD</b> ||(M)+91-7014843968 ||   (E) sales.industries@grpgroup.xyz </font>
            </td>
        </tr>
        </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Receipient of Services:</font>
            </td>
            <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Invoice No.</font>
            </td>
            <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Dated</font>
            </td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000" colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <b>
                    <font face="Arial" color="#000000">{{invoiceObj[0]?.company_name}}</font>
                </b></td>
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0]?.bill_id}}</font>
                </b></td>
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@"><b>
            <font face="Arial" color="#000000">{{getDate(invoiceObj[0]?.order_date)}}</font>
             </b></td>

        </tr>
        <tr>
            <td style="border-left: 1px solid #000000" colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">C/O {{invoiceObj[0]?.first_name + " "+ invoiceObj[0]?.last_name}}{{invoiceObj[0]?.address1 == null?' ': ', '+ invoiceObj[0]?.address1 +","}}  </font>
                <br> 
                <font face="Arial" color="#000000">{{invoiceObj[0]?.address2 == null?" ":invoiceObj[0]?.address2 }}, {{invoiceObj[0]?.city == null?" ":invoiceObj[0]?.city }}, {{invoiceObj[0]?.state == null?" ":invoiceObj[0]?.state }} </font>
 
            </td>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Buyer's order no</font>
            </td>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Eway Bill no.</font>
            </td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000" colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Phone:{{invoiceObj[0]?.phone1}} PAN: {{invoiceObj[0]?.pan}} Email: {{invoiceObj[0]?.email}}</font>
            </td>
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0]?.order_id}}</font>
                </b></td>
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@"><b>
            <font face="Arial" color="#000000">{{invoiceObj[0]?.e_way_bill_no}}</font>
            </b></td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000; " colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">GSTIN:<b> {{invoiceObj[0]?.gst_tin}}</b></font>
            </td>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Dispatched through</font>
            </td>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Place of supply</font>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; " colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">State Name : {{getState(invoiceObj[0]?.gst_tin)}} ,Code : 08</font>
            </td>
               <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0]?.vehicle_info}}</font>
                </b></td>
            
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">{{getState(invoiceObj[0]?.gst_tin)}}</font>
                </b></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" height="40" align="center" valign="middle" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Sl No</font>
            </td>
            <td style="border-bottom: 1px solid #000000;  border-right: 1px solid #000000" colspan="5"  align="center" valign="middle" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Description of Services</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000"  align="center" valign="middle" sdnum="1033;0;@">
                <font face="Arial" color="#000000">HSN</font>
            </td>
              <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000"  align="center" valign="middle" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Quantity(CFT)</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="center" valign="middle" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Rate</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="center" valign="middle" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Amount</font>
            </td>
        </tr>

        <tr *ngFor="let item of invoiceObj;let i = index">
            <td style=" border-left: 1px solid #000000;border-right: 1px solid #000000; "  height="50" align="center" valign="middle" >
                <font face="Arial" color="#000000">{{i+1}}</font>
            </td>
            <td style="border-right: 1px solid #000000; " colspan="5" align="center" valign="middle"><b>
                    <font face="Arial" color="#000000">{{item.name}} <font size=2> (L:{{item.l_name}} T:{{item.t_name}}, W:{{item.w_name}})</font></font>
                </b></td>
            <td style=" border-right: 1px solid #000000"  align="center" valign="middle"><b>
                    <font face="Arial" color="#000000">{{item.hsn}}</font>
                </b></td>
                 <td style=" border-right: 1px solid #000000"  align="center" valign="middle"><b>
                    <font face="Arial" color="#000000">{{item.quantity_cc?.toFixed(2)}}</font>
                </b></td>
            <td style=" border-right: 1px solid #000000" align="right" valign="middle"  ><b>
                    <font face="Arial" color="#000000">{{item.rate.toFixed(2)}}</font>
                </b></td>
            <td style=" border-right: 1px solid #000000" align="right" valign="middle"  ><b>
                    <font face="Arial" color="#000000">{{getUnitPrice(item.t_value , item.w_value , item.l_value,item.quantity,item.rate)}}</font>
                </b></td>
        </tr> 
        <tr>
            <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" height="30" align="left" valign="top" sdnum="1033;0;&quot;&quot;0">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" colspan="5" align="right" valign="top" sdnum="1033;0;@"><b>
                        <font face="Arial" color="#000000">SUB-TOTAL</font>
                    </b></td>
            <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="top" sdval="900" sdnum="1033;0;&quot;&quot;0.00"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0].total_amount}}</font>
                </b></td>
        </tr>    
        <tr>
            <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;&quot;&quot;0">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" colspan="5" align="right" valign="top" sdnum="1033;0;@"><b><i>
                        <font face="Arial" color="#000000">Output CGST @9%</font>
                    </i></b></td>
            <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" align="right" valign="top" sdval="900" sdnum="1033;0;&quot;&quot;0.00"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0].cgst}}</font>
                </b></td>
        </tr>
        <tr>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;&quot;&quot;0">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" colspan="5" align="right" valign="top" sdnum="1033;0;@"><b><i>
                        <font face="Arial" color="#000000">Output SGST @9%</font>
                    </i></b></td>
            <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" align="right" valign="top" sdval="900" sdnum="1033;0;&quot;&quot;0.00"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0].sgst}}</font>
                </b></td>
        </tr>
        <tr>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" colspan="5" align="right" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">R/o</font>
                </b></td>
            <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
             <td style="border-right: 1px solid #000000" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" align="right" valign="top" sdval="0" sdnum="1033;0;&quot;&quot;0.00"><b>
                    <font face="Arial" color="#000000">{{invoiceObj[0].round_off}}</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="8" height="21" align="center" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">Total</font>
                </b></td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="top" sdval="11800" sdnum="1033;0;&quot;₹ &quot;0.00"><b>
                    <font face="Rupakara" size="3" color="#000000">₹ {{(invoiceObj[0].total_amount+invoiceObj[0].cgst+invoiceObj[0].sgst+invoiceObj[0].igst+invoiceObj[0].round_off).toFixed(2)}}</font>
                </b></td>
        </tr>
        <tr>
            <td style=" border-left: 1px solid #000000" colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000"><br></font>
            </td>
            <td style=" border-right: 1px solid #000000" colspan="4" align="right" valign="top" sdnum="1033;0;@"><i>
                    <font face="Arial" color="#000000">E. &amp; O.E</font>
                </i></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="10" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Amount Chargeable (in words):</font>
            </td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="10" height="20" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000"> {{getWords(invoiceObj[0].total_amount+invoiceObj[0].cgst+invoiceObj[0].sgst+invoiceObj[0].igst+invoiceObj[0].round_off)}}</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" rowspan="2" height="40" align="center" valign="middle">
                <font color="#000000">HSN</font>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" rowspan="2" align="center" valign="middle">
                <font color="#000000">Taxable Value</font>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan="2" align="center" valign="bottom">
                <font color="#000000">Central tax</font>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000;  border-right: 1px solid #000000" colspan="2" align="center" valign="bottom">
                <font color="#000000">State Tax</font>
            </td>
            <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" rowspan="2" align="center" valign="middle">
                <font color="#000000">Total</font>
            </td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="left" valign="bottom">
                <font color="#000000">Rate</font>
            </td>
            <td style=" border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign="bottom">
                <font color="#000000">Amount</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="left" valign="bottom">
                <font color="#000000">Rate</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="left" valign="bottom">
                <font color="#000000">Amount</font>
            </td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" height="20" align="right" valign="bottom" sdval="997159" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].hsn}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="right" valign="bottom" sdval="2500" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].total_amount.toFixed(2)}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="bottom" sdval="0.09" sdnum="1033;0;0%">
                <font color="#000000">9%</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="right" valign="bottom" sdval="225" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].cgst}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="right" valign="bottom" sdval="0.09" sdnum="1033;0;0%">
                <font color="#000000">9%</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="right" valign="bottom" sdval="225" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].sgst}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="bottom" sdval="450" sdnum="1033;">
                <font color="#000000">{{(invoiceObj[0].cgst+invoiceObj[0].sgst).toFixed(2)}}</font>
            </td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="4" height="20" align="right" valign="bottom"><b>
                    <font color="#000000">Total</font>
                </b></td>
            <td style=" border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="bottom" sdval="2500" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].total_amount.toFixed(2)}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="left" valign="bottom">
                <font color="#000000"><br></font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="right" valign="bottom" sdval="225" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].cgst.toFixed(2)}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="left" valign="bottom">
                <font color="#000000"><br></font>
            </td>
            <td style=" border-bottom: 1px solid #000000;  border-right: 1px solid #000000" align="right" valign="bottom" sdval="225" sdnum="1033;">
                <font color="#000000">{{invoiceObj[0].sgst.toFixed(2)}}</font>
            </td>
            <td style=" border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="right" valign="bottom" sdval="450" sdnum="1033;"><b>
                <font color="#000000">{{(invoiceObj[0].cgst+invoiceObj[0].sgst).toFixed(2)}}</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Tax Amount (in words) : </font>
            </td>
            <td style="border-right: 1px solid #000000" colspan="9" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">{{getWords(invoiceObj[0].total_amount+invoiceObj[0].cgst+invoiceObj[0].sgst+invoiceObj[0].igst+invoiceObj[0].round_off)}}</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="6" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Bank Details</font>
            </td>
            <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" colspan="4" align="right" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">for GRP INDUSTRIES</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Title</font>
            </td>
            <td style="border-right: 1px solid #000000" colspan="5" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">GRP INDUSTRIES</font>
                </b></td>
            <td style=" border-right: 1px solid #000000" colspan="4" rowspan="5" align="right" valign="bottom" sdnum="1033;0;@">
                <img src="http://grpfinance.in/grpfin/images/sign.png" style="
				width: 50%;
				/* height: 12%; */
				margin-left: 42%;
				margin-bottom: 10%;
			">
                <font face="Arial" color="#000000">Authorised Signatory</font>
            </td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Account No.</font>
            </td>
            <td style="border-right: 1px solid #000000" colspan="5" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">048363700002182</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-left: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">IFSC Code</font>
            </td>
            <td style="border-right: 1px solid #000000" colspan="5" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">YESB0000483</font>
                </b></td>
        </tr>
        <tr>
            <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="20" align="left" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Bank Name &amp; Branch</font>
            </td>
            <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" colspan="5" align="left" valign="top" sdnum="1033;0;@"><b>
                    <font face="Arial" color="#000000">Yes bank, Vaishali Nagar</font>
                </b></td>
        </tr>
        <tr>
            <td style=" border-left: 1px solid #000000; border-right: 1px solid #000000" colspan="6" height="20" align="center" valign="bottom" sdnum="1033;0;@">
                <font face="Arial" color="#000000">Declration: We declare that this invoice shows the actual price of the
                    services described and that all particulars are true and correct.</font>
            </td>
        </tr>
        <tr>
            <td style="border-top: 1px solid #000000" colspan="10" height="20" align="center" valign="top" sdnum="1033;0;@">
                <font face="Arial" color="#000000">This is a Computer Generated Invoice</font>
            </td>
        </tr>
    </tbody></table>
    </div>  

